@tailwind base;
@tailwind components;
@tailwind utilities;


body  {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles/globals.css */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

/* ...and so on for other classes within react-calendar */
